{#
# This file is part of MedShakeST.
#
# Copyright (c) 2024
# Bertrand Boutillier <b.boutillier@gmail.com>
# http://www.medshake.net
#
# MedShakeST is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# any later version.
#
# MedShakeST is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with MedShakeST. If not, see <http://www.gnu.org/licenses/>.
#/

/##
 # Template > include pour stats
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% set top10labels = {'section':'Section', 'division':'Division','groupe':'Groupe','classe':'Classe','sousclasse':'Sous-classe'} %}


<ul class="nav nav-pills nav-justified mt-4 mb-4" id="pills-StatsTab" role="tablist">
	<li class="nav-item" role="presentation">
		<button class="nav-link active" id="pills-stats-entreprises-tab" data-bs-toggle="pill" data-bs-target="#pills-stats-entreprises" type="button" role="tab" aria-controls="pills-stats-entreprises" aria-selected="false"><i class="fa-solid fa-industry"></i> Entreprises</button>
	</li>
	{% if page.stats.CSV.totalSalaries > 0 %}
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="pills-stats-salaries-tab" data-bs-toggle="pill" data-bs-target="#pills-stats-salaries" type="button" role="tab" aria-controls="pills-stats-salaries" aria-selected="true"><i class="fa-solid fa-user"></i> Salariés</button>
		</li>
	{% endif %}
	<li class="nav-item" role="presentation">
		<button class="nav-link" id="pills-stats-MP-tab" data-bs-toggle="pill" data-bs-target="#pills-stats-MP" type="button" role="tab" aria-controls="pills-stats-MP" aria-selected="false"><i class="fa-solid fa-pills"></i> Maladie profesionnelles</button>
	</li>
	<li class="nav-item" role="presentation">
		<button class="nav-link" id="pills-stats-AT-tab" data-bs-toggle="pill" data-bs-target="#pills-stats-AT" type="button" role="tab" aria-controls="pills-stats-AT" aria-selected="false"><i class="fa-solid fa-person-falling-burst"></i> Accidents du travail</button>
	</li>
</ul>
<div class="tab-content" id="pills-StatsTabContent">
	<div class="tab-pane fade show active" id="pills-stats-entreprises" role="tabpanel" aria-labelledby="pills-stats-entreprises-tab" tabindex="0">
		{% include 'inc-stats-topEntreprises.html.twig' %}
	</div>
	{% if page.stats.CSV.totalSalaries > 0 %}
		<div class="tab-pane fade" id="pills-stats-salaries" role="tabpanel" aria-labelledby="pills-stats-salaries-tab" tabindex="0">
			{% include 'inc-stats-topSalaries.html.twig' %}
		</div>
	{% endif %}
	<div class="tab-pane fade" id="pills-stats-MP" role="tabpanel" aria-labelledby="pills-stats-MP-tab" tabindex="0">
		{% include 'inc-stats-topMP.html.twig' %}
	</div>
	<div class="tab-pane fade" id="pills-stats-AT" role="tabpanel" aria-labelledby="pills-stats-AT-tab" tabindex="0">
		{% include 'inc-stats-topAT.html.twig' %}
	</div>
</div>
